html .blue_theme {
  --mat-sys-primary: #A1887F; // Marrón Claro
  --mat-sys-primary-fixed-dim: #D7CCC8; // Marrón más claro
  --mat-sys-secondary: #6B8E23; // Verde Oliva
  --mat-sys-secondary-fixed-dim: #C5E1A5; // Verde más claro
} 